.username{
    font-size: 12px;
    font-weight: bold;
}

.username-sm{
    font-size: 12px;
    font-weight: lighter;
}

.feed{
    font-size: 12px;
    font-weight: lighter;
}

.feed_wrapper{
    padding: 10px;
    border: 1px solid #E7E7E8;
}

.feed_wrapper:hover{
    background-color: #E7E7E8;
}

.feed_url{
   font-size: small;
}


