.username{
    font-size: 12px;
    font-weight: bold;
}

.username-sm{
    font-size: 12px;
    font-weight: lighter;
}

.feed{
    font-size: 0.8em;
    font-weight: lighter;
    /* width: 12em; */
}

.feed_wrapper{
    padding: 1em;
    border: 1px solid #E7E7E8;
    /* max-width: 400px; */
}

.feed_wrapper:hover{
    background-color: #E7E7E8;
}

.feed_url{
   font-size: small;
}

.like_warpper .fa-heart:hover{
    cursor: pointer;
}


.like_warpper .fa-heart:hover .like_warpper .fa-heart{
    box-shadow: rgb(202, 197, 197);
}

.profile_image{
    max-width: 3rem;
    max-height: 3rem;
}

.feed_media{
    /* width: 5em;
    height: 5em; */
}
