.username{
    font-size: 12px;
    font-weight: bold;
}

.username-sm{
    font-size: 12px;
    font-weight: lighter;
}

.feed{
    font-size: 12px;
    font-weight: lighter;
    /* max-width: 300px; */
}

.feed_wrapper{
    padding: 10px;
    border: 1px solid #E7E7E8;
    /* max-width: 400px; */
}

.feed_wrapper:hover{
    background-color: #E7E7E8;
}

.feed_url{
   font-size: small;
}

.like_warpper .fa-heart:hover{
    cursor: pointer;
}


.like_warpper .fa-heart:hover .like_warpper .fa-heart{
    box-shadow: rgb(202, 197, 197);
}
