:root {
    --twitter-color: #1D9BF0;
  }
  

.logo{
    padding-left: 1em;
    font-size: 2em;
    color: var(--twitter-color);
}

.fab{
    padding: 0.5em;
    border-radius: 50%;
}

.fab:hover{
    background-color: rgb(231, 239, 243);
}

.fas, .far{
    padding-right: 20px;
}

.fa-home{
    color: #818485;
}

.list-group-item{
    display: flex;
    border: none ;
    cursor: pointer;
    width: 10em;
    border-radius: 15px;
}

.list-group-item:hover{
    background-color: #E7E7E8;
}

.tweet_button{
    background-color: var(--twitter-color);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: none;
    color: white;
    width: 15vw;
}

.custom_link{
    text-decoration: none;
}

.explore_link:hover{
    cursor:not-allowed;
}

.explore_link{
    pointer-events: none;
    opacity: 0.5;
}

.notification_link:hover{
   cursor:not-allowed;
   pointer-events: none;
}

.notification_link{
    pointer-events: none;
    opacity: 0.5;
}


.list_link:hover{
    cursor:not-allowed;
}

.list_link{
    pointer-events: none;
    opacity: 0.5; 
}

.hamburger{
    display: none;
}




@media only screen and (max-width:770px){

    .sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .navigation{
        display: none;
    }

    .navigation .list-group{
      

    }

    .custom_link{
        width: 3.5em; 
        background-color: none;
    }

    .hamburger{
        display: inline-block;
    }
}