@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Libre+Franklin&family=Roboto+Slab&display=swap');

body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto Slab', serif;
}